html {
    font-family: 'Helvetica Neue';
    font-size: 16px;
}

body {
    background: #0D0F12;
    color: #FFF;
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.main {
    padding: 20px;
}

.year__heading {
    align-items: center;
    display: flex;
    justify-content: center;
}

.year__previous-link {
    color: #FFF;
    text-decoration: none;
}

.year__title {
    color: #FFF;
    margin: 1em 20px;
    text-align: center;
}

.year__next-link {
    color: #FFF;
    text-decoration: none;
}

.year__months {
    display: flex;
    flex-wrap: wrap;
}

.month {
    margin-bottom: 30px;
    text-align: center;
}

@media (min-width: 660px) {
    .month {
        width: 50%;
    }
}

@media (min-width: 1000px) {
    .month {
        width: 33%;
    }
}

@media (min-width: 1400px) {
    .month {
        width: 25%;
    }
}

.month__title {
    color: #FFFFFF;
    font-size: 1.3rem;
    margin-bottom: 5px;
    text-align: center;
}

.month__weeks {
    border-collapse: collapse;
    border-spacing: 0;
    display: inline-block;
    left: -20px;
    margin: 0 auto;
    position: relative;
}

.month__spacer {
    height: 40px;
    width: 40px;
}

.month__days {
    display: flex;
}

.month__day-name {
    align-items: center;
    color: #363636;
    display: flex;
    font-size: .8rem;
    justify-content: center;
    height: 40px;
    width: 40px;
}

.week {
    display: flex;
}

.week__number {
    color: #363636;
    font-size: .8rem;
    padding: 10px;
    text-align: right;
    width: 40px;
}

.week__day {
    height: 40px;
    width: 40px;
}

.day {
    align-items: center;
    color: #FFFFFF;
    display: flex;
    height: 40px;
    justify-content: center;
    position: relative;
    width: 40px;
}

.day__background {
    background: transparent;
    border-radius: 100%;
    color: #323441;
    display: block;
    left: 5px;
    height: 30px;
    position: absolute;
    top: 5px;
    transition: opacity .2s ease-in-out;
    width: 30px;
    z-index: 5;
}

.day--weekend {
    color: #363636;
}

.day--today {
    color: #0D0F12;
}

.day--holiday {
    color: #0D0F12;
}

.day--holiday .day__background {
    background: #E56E92;
    border-radius: 100%;
    opacity: 1;
}

.day--today .day__background {
    background: #FFFFFF;
    border-radius: 100%;
    opacity: 1;
}

.day__date {
    color: unset;
    text-decoration: none;
    z-index: 10;
}

.day--title:before {
    background: #FFFFFF;
    box-shadow: 0 0 3px #0D0F12;
    border-radius: 5px;
    color: #0D0F12;
    content: attr(data-title);
    display: block;
    opacity: 0;
    padding: 5px;
    position: absolute;
    pointer-events: none;
    top: -100%;
    transition: opacity .2s ease-in-out;
    white-space: nowrap;
    z-index: 10;
}

.day--title:hover:before {
    opacity: 1;
}
